body{
    margin: 0;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
}

.navbar{
    background-color: #dd4b39;
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 230px;
    float: right;
}

.navbarleft{
    display: flex;
    flex-direction: row;
    margin-left: 380px;
}

a.logo{
    width: 230px;
    display: inline;
}
#logo{
    transition: 0.3s;
    background-color: #d73925;
    color: #fff;
    padding: 0px 50px;
}
.top{
    display: flex;
    flex-direction: row;
    /* flex-direction: </div> */
    background-color: #dd4b39;

}
/* 
.navbar-left{
    align-self: flex-end;
    padding: 15px;
} */

.dropdown-toggle{
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

.problem{
    color: #fff;
    text-decoration: none;
    padding: 15px;
}
/* a:hover{
    background-color: rgb(124, 12, 12);
} */

.user-image{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 10px;
}

.user-name{
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

.signoutimage{
    height: 25px;
    width: 25px;
    margin-top: 15px;
}

.content-header{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-left: 230px;
}

.form-control{
    float: right;
    padding: 6px 12px;
    align-items: flex-end;
    margin-top: 28px;
}

.input-group{
    align-content: center;
    margin-top: 0px;
}

h1{
    font-size: 24px;
    padding: 15px;
    width: 80%;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 500;
    /* line-height: 1.1; */ 
    color: inherit;
    padding: 0px 10px 10px 10px;
}

.dashboardimage{
    display: inline;
    height: 23px;
}

.Complaintbox{
    display: grid;
    min-height: 90px;
    width: 25%;
    padding: 0px 15px 0px 15px;
    border: 1px solid lightgrey;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-area: span;
    margin-top: 15px;
    row-gap: 0px;
    column-gap: 0px;
}

.moreinfo1{
    grid-column-start: 4;
    grid-row-start: 3;
}

.complaint{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: left;
}

.complaintnumber{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    font-weight: bold;
}

.Complaintimage{
    grid-row-start: 1;
    grid-row-end: 3;
}

#complaintimage{
    height: 90px;
    width: 90px;
}

.archive{
    display: grid;
    min-height: 90px;
    width: 25%;
    padding: 0px 15px 0px 15px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-area: span;
    margin-top: 15px;
    row-gap: 0px;
    column-gap: 0px;
}

.moreinfo2{
    grid-column-start: 4;
    grid-row-start: 3;
}

.archivenotifications{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.archiveimage{
    grid-row-start: 1;
    grid-row-end: 3;
}

#archiveimage{
    height: 90px;
    width: 90px;
}

.fees{
    display: grid;
    min-height: 90px;
    width: 25%;
    padding: 0px 15px 0px 15px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-area: span;
    margin-top: 15px;
    row-gap: 0px;
    column-gap: 0px;
}

.clickherefees{
    grid-column-start: 2;
    grid-row-start: 2;
}

.duefees{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.feesimage{
    grid-row-start: 1;
    grid-row-end: 3;
}

#feesimage{
    height: 90px;
    width: 90px;
} 

.feefooter{
    width: 25%;
    background-color: rgb(212, 34, 34);
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
}

.blink{
    text-decoration: none;
    font-size: larger;
    color: #fff;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50%{opacity: 0;}
}

.flex1{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: left;
    margin-left: 240px;
}

.flex2{
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: left;
    margin-left: 240px;
}


/* sidebar */
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 230px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #333; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 53px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #b8c7ce;
    display: block;
    transition: 0.3s;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;

  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #dd4b39;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: -430px;
  }
  
  .openbtn:hover {
    background-color: rgb(124, 12, 12);
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    justify-content: left;
    transition: margin-left .5s; /* If you want a transition effect */
    padding-top: 4px;
    margin-left: 230px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


  .footer{
    margin-left: 230px;
    padding: 10px 20px;
    border-top: 0.8px;
    border: 1px solid lightgray;
    margin-top: 40px;
  }

.calenderbox{
    margin-left: 240px;
    margin-top: 30px;
    margin-right: 10px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#calender{
    border: 1px solid lightgrey;
    font-size: larger;
    height: 120vh;
    width: 100%;
    text-align: end;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

th{
    text-align: center;
    background-color: rgb(240, 239, 239);
    height: 8vh;
}

.day{
    height: 2vh;
}

th,td{
    border: 1px solid lightgrey;
    
}

.light{
    color: lightgray;
}

.highlight{
    background-color: rgb(255, 255, 154);
}

.minus{
    display: inline-flex;
    text-align: right;
    flex-direction: row-reverse;
    justify-self: flex-end;
    width:90%;
}

.cross{
    padding: 0px 10px;
}


@media screen and (max-width:767px) {

    .top{
        height: 100px;
        flex-direction: column;
        overflow: hidden;
    }

    .navbarleft{
        margin-left:-300px;
    }

    .navbar{
        width: 100%;
    }

    .openbtn{
        margin-left: -230px;
    }

    a.logo{
        width: 100%;
        align-content: center;
    }

    #logo{
        padding: 0% 40%;
    }


    .sidebar{
        width: 0;
    }

    #main{
        margin-left: 0;
    }

    .flex1,.flex2,.calenderbox{
        margin-left: 10px;
    }

    .footer,.content-header{
        margin-left: 0px;
        overflow: hidden;
    }

    .flex1{
        width: 100vmax;
        flex-direction: column;
    }
    .flex2{
        width: 100vmax;
    }

    .Complaintbox{
        width: 100vmax;
    }

    .archive,.feefooter,.fees{
        width: 100vmax;
    }

    .feefooter{
        padding-left: 15px;
    }

    .flex1,.flex2{
    }


}